body {
    margin: 0;
}

* {
    font-family: 'Roboto Condensed';
}

h1 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

h3 {
    font-family: 'Roboto Condensed';
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}

h4 {
    font-size: 16;
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Roboto Condensed';
}
